{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid">
<div class="row">

{% for img in images %}
<div id="image"class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
<img src="{{img.image_link.url}}" class="img-responsive my_Img" alt="{{image.description}}">

<div id = 'butn'>
<button class="btn-info btn-sm"  data-toggle="modal" data-target="#exampleModal{{img.id}}" type="button">See more...</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal{{img.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adventure Galleries</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{img.name }} {{img.location}} 
       <p> {{img.description}} </p>
       

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->
  <div id="Modal_pic" class="modal">

  <!-- The Close Button -->
    <span class="close">&times;</span>
    {{image.image_link.url}}
  <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img1">

  <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>
</div>

{% endfor %}
</div>
</div>
{% endblock %}
